body {
font-family: times new roman, times, serif;
font-size: 18px;
background: grey; 

}
h1 {
	text-align:center; 
	font-size: 35pt; 
	font-weight:bold; 
	font-variant:small-caps; 
	font-family:stencil; 

	}
	